@model assignment_wt1_oauth.Models.Event
@{
    ViewBag.Title = "Profile";
}
<h2>Profile</h2>

@{ 
    <div>
        <p>Gitlab ID</p>
        <p>@ViewBag.GitlabId</p>
        <p>Email</p>
        <p>@ViewBag.Email</p>
        <p>Name</p>
        <p>@ViewBag.Name</p>
        <p>Username</p>
        <p>@ViewBag.Username</p>
        <p>Last Activity</p>
        <p>@ViewBag.LastActivity</p>
    </div>
    <div>
           <img src=@ViewBag.Avatar alt="avatar" width="70" height="70">
    </div>
}