@{
    ViewBag.Title = "Profile";
}

@{ 
    <h1>Profile</h1>
    
    <div>
        <img src=@ViewBag.Avatar alt="avatar">
        <h5>Gitlab ID</h5>
        <p>@ViewBag.GitlabId</p>
        <h5>Email</h5>
        <p>@ViewBag.Email</p>
        <h5>Name</h5>
        <p>@ViewBag.Name</p>
        <h5>Username</h5>
        <p>@ViewBag.Username</p>
        <h5>Last Activity</h5>
        <p>@ViewBag.LastActivity</p>
    </div>
}